.page {
  height: 100vh;
  width: 100%;
  display: flex;
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    min-width: 0;
  }
  &__content {
    flex: 1 1;
    overflow: auto;
  }
}